img, p {
    display:inline-block;
}
footer {
    padding: 20px;

}
h3 {
    font-size: 200%;
    text-align: center;
    padding: 20px;
    border: 1px solid black;
}
button {
    padding: 3px;
    border-radius: 2px;
    margin: 10px;
}
